.BlogsPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    @media screen and (max-width:828px) {
        grid-template-columns: repeat(1,1fr);
        margin:2rem .9rem;
    }
    @media screen and (max-width:570px) {
        margin: 2rem 5rem;
    }
    @media screen and (max-width: 360px) {
        margin-left: 6rem;
      }

    @media screen  and (max-width:320px){
        width: 20%;
        margin: 1rem 4.6rem;
}


    .blog{
        background-color: #190720;
        width: 100%;
        padding: 1rem;
        overflow: hidden;
        @media screen  and (max-width:411px){
            width: 17rem;
            margin-left: -5.2rem;
    }
        @media screen  and (max-width:414px){
            width: 19rem;
            margin-left: -6.7rem;
    }
        .blog_content{
            overflow: hidden;
            padding-bottom: 2rem;
            img{
                width: 100%;
                transition: all .4s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
                padding-bottom: 1rem;
            }
        }
        .blog-link{
            color: inherit;
            font-family: inherit;
            text-decoration: none;
            font-size: 1.3rem;
            margin: 8rem 0;
            padding-bottom: 1rem;
            transition: all .4s ease-in-out;
            &:hover{
                color: #037fff;
            }
        }
    }
}

.b-title{
    margin-bottom: 3rem;
}