// .SkillsSection{
    
// }

.skills-container{
    @media screen  and (max-width:414px){
        margin-left: -1.5rem;
}
    .skill-title{
        font-size: .9rem;
        font-weight: 300;
        font-family: inherit;
        @media screen  and (max-width:411px){
            margin-top: .0rem;
     }
}
    .skill-bar{
        display:flex;
        align-items: center;
        .skill-text{
            font-size: .9rem;
            font-weight: 300;
            font-family: inherit;
        }
        .skill-progress{
            width: 100%;
            @media screen  and (max-width:411px){
               width: 80%;
              
        }
            .progress{
                width: 100%;
                height: .5rem;
                background-color: red;
                margin-right: 15rem;
                margin-left: 1rem;
                background-color: #0381ff44;
                position: relative;
                .inner-progress{
                    position: absolute;
                    background-color: #037fff;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    
                }
            }
        }
    }
}