// .HomeWrapper{
//     position: relative;
//     background: url(../img/blog3.jpg) no-repeat;
//   background-size: cover;
//   background-position: center;
//   width: 100.3rem;
//   margin-top: -5rem;
//   height: 100vh;
//   margin-left: -161px;
//   @media screen  and (max-width:414px){
//     width: 31rem;
//     overflow-y: hidden;
//     height: 110vh;
   
// }
// }
.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:80%; 
    @media screen and (max-width: 360px) {
        width:97%; 
     }
}

.hero-text{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    @media screen  and (max-width:320px){
        font-size: 2rem;
        margin-top:6rem;
    }
    @media screen  and (max-width:414px){
        font-size: 2rem;
        // margin-left: 20%;
    }
   
    span{
        color:#05F0FF;
    }
}

.h-sub-text{
    text-align: center;
    @media screen  and (max-width:414px){
    //    margin-left: 20%;
       
    }

}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    transition: all .4s ease-in-out;
    .icon-holder{
        margin-right: 1rem;
        
        .icon{
            font-size:60px;
            padding: 1rem;
            color:  #a4acc4;
        }
        .fb:hover{
            color:blue;
        }
        .tw:hover{
            color:lightblue;
        }
        .gh:hover{
            color:purple;
        }
    }
}



// PARTICLES
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;

}
